.header{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.button{
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color: orange;
    color: black;
}

button:hover{
    cursor: pointer;
    background-color: white;
}

.content{
    padding: 15px;
}

.content li{
    background-color: aqua;
    padding: 15px;
    margin-bottom: 1px;
    color: black;
}

.content li:hover{
    cursor: pointer;
    background-color: black;
}